<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WatakuCity.NextStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <WatakuCity.NextStation.Properties.Settings>
      <setting name="TrainSettingsDirectory" serializeAs="String">
        <value>TrainSettings</value>
      </setting>
      <setting name="DeviceSettingsDirectory" serializeAs="String">
        <value>DeviceSettings</value>
      </setting>
      <setting name="LinesDirectory" serializeAs="String">
        <value>Lines</value>
      </setting>
      <setting name="ThemesDirectory" serializeAs="String">
        <value>Themes</value>
      </setting>
      <setting name="XmlFileFilter" serializeAs="String">
        <value>XML ファイル(*.xml)|*.xml|すべてのファイル(*.*)|*.*</value>
      </setting>
    </WatakuCity.NextStation.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
</configuration>